body{
	 font-family: 'Merienda';
    
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

html{
    scroll-behavior: smooth;
    
}
.bg-light {
    background-color:#f3f8fa!important;
}
.nav-link {
   color:  black!important; 
}
.nav-item{
	padding-right: 10px;
	padding-left: 10px;
    font-size: 13px;
}
.flag{
	max-height: 20px;
	max-width: 10px;
	margin-top: 10px;
}

h1,h4, h3,h5, h6 {
    font-size:18px;
    font-weight: 800;
  
}
h2{
    margin-top: -30px;
    font-size: 23px;
    color:black;
}
p{
    font-size:14px;
    font-family:serif;
}
.nav-link.active{
	background-color: lightgrey !important;
}
/*.dropdown:hover>.dropdown-menu{
    display:block;
}*/
.dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: white;
}

.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}



.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
    
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){
 
 .only-mobile{
  visibility:visible;
  }
}


.myimages {
     display: flex;
     overflow: hidden;
     height: 40vw;
     background: #333
 }

 .myimages img {
     max-width: 100%;
     vertical-align: middle;
     border: 5px solid #f3f8fa;
     box-sizing: border-box;
     transition: opacity .2s
 }

 .myimages:hover img {
     opacity: 0.5
 }

 .myimages img:hover {
     opacity: 1
 }

 .first-column {
     animation: var(--animation, none) 16s infinite linear
 }

 .first-column:hover {
     animation-play-state: paused
 }

 .first-column:nth-of-type(odd) {
     align-self: flex-end;
     --direction: 50%
 }

 @keyframes slide {
     to {
         -webkit-transform: translateY(var(--direction, -50%));
         transform: translateY(var(--direction, -50%))
     }
 }
@media only screen and (max-width: 450px) {
  
    .myimages {
     height: 100vw;
    }
   
}

@media only screen and (min-width: 450px) {
  
.img-fluid {
    max-width: 70%;
    height: auto;
    
}
    h2{
        font-size:30px;
    }
}




/*footer*/
.footer-distributed {
  background-color: #f3f8fa;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1);
 border: .5px solid #8f9296;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 15px 40px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 12px;
  margin: 0;
    font-family: serif;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
    font-family: 'merienda';
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
    
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  
  font-size: 25px;
  color: #68A4C4;
  text-align: center;
  line-height: 40px;
  margin-left: 3px;
  transition:all .25s;
    
    
}


.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/*return to top*/
.fa-arrow-circle-up{
    padding-top: 5px;
   font-size: 40px;
    color: #68A4C4;
}
h7{
    color: black;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:white;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}



